

body{
    margin: 0;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dropdown-menu{
    background-color: #a2415e;
}
.dropdown-menu :hover{
    background-color: #a2415e;
}
.LogoHeader{
    text-align: center;

}

.BlocInformation {
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.Information{
    width: 60%;
}

.BlocLiens {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.BlocInformationLien{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
}
.react-player {
    width: 100%;
    height: auto;
}
.BlocBoiteAOutils{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
}

.blocPrestations{
    width: 300px;
}
.blocBoiteOutil{
    width: 300px;
    margin-right: 60px;
}
.BlocActus {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.BlocInformationActu{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
}
.BlocActualite{
    width: 300px;
    height: 300px;

}
 .texteCardGauche{
     margin-left: 200px;
 }
.texteCardDroite{
    margin-right: 200px;
}

.articleDetails{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
   background-color: white;
    width: 60%;
    border-radius: 30px;
}
.imagePageArticleDetail{
    width: 400px;
}
.Footer{

    background-color: #a2415e;
    color:black;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.centerOfFooter{
    display: flex;
    flex-direction: column;
}
.logosReseaux{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.BlocLeft > ul {
    padding-top: 50px;
}
.BlocLeft > ul > li {
   font-weight: bold;
    list-style:none;
    font-size: 20px;
}
.Divers > ul {
    padding-top: 50px;
}
.Divers > ul > li {
    font-weight: bold;
    list-style:none;
    font-size: 20px;
}

.Cards{
    display: flex;
    flex-direction: column;
}
.CardContent{
    width: 1000px;
    margin-bottom: 20px;
    background-color: #f8e7dd;
    border:none;
    box-shadow: none;
}
.logoTop{
    width: 500px;
    height:300px;
}
.texteCards{
    padding-top: 80px;
    padding-left: 200px;
    width: 50%;
}
.texteCardsBAO{
    display: flex;
    flex-direction: row;
    padding-top: 70px;
}
.texteCardsBis{
    padding-top: 80px;
    padding-left: 140px;
    width: 50%;
}
.imageCard{
    border-radius: 50%;
    height: 300px;
    width: 300px;
}
.imageCardTroisImages{
    border-radius: 50%;
    height: 300px;
    width: 300px;
}
.phraseBlocPres{
    text-align:center;
    margin-top:20px;
    font-size:40px;
}
.imageCardBOA{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.ConteneurNavBar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.accordionMembres{
    width: 400px;
}
.trMembre :hover{
    background-color: #ee9251;
}
.trMembre {
   font-size: 10px;
}
.FormulaireContact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.formulaireContact{
    width: 30%;
    text-align: center;

}

.buttonWorkbook{
    background-color: #a2415e;
    color:white;
    border-radius: 20px;
    border:none;
    font-family: 'Merriweather', serif;
}
.NavBar{
    border-radius: 40px;
    background-color: #a2415e;
    width: 80%;
    height: 60px;
}
.NavBar a{
    font-size: 20px;
    padding-top: 17px;
    color: white;
    font-family: 'Merriweather', serif;
}

.NavBar a:hover{
    color: #ee9251;
}
.imagePresentation{
    width:250px;
    border-radius: 50%;
}
h2{
    font-family: 'Euphoria Script', cursive;
}
h1{
    font-family: 'Merriweather', serif;
}
p{
    text-align: justify;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}
body{
    background-color: #F8E7DD;
}
.commentaireCard{
    color:gray;
    text-align:center;
    font-weight:bold;
    margin-top:30px;
}
.textePaperPresentation{
    fontSize:18px;
    padding:30px;
    padding-top: 20px;
}
.Bloc1{
    border-adius:20px;
    height:300px;
}
@media screen and (max-width: 1440px) {
    .BlocInformationLien{
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: space-around;
    }
    .BlocInformationActu{
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: space-around;
    }
}

@media screen and (max-width: 1024px) {
    .textePaperPresentation{
        font-size: 11px;
        height: 300px;
    }
    .Bloc1{
        border-adius:20px;
        height:300px;
        width: 250px;
    }
    .NavBar a{
        font-size: 16px;
        padding-top: 17px;
        color: white;
        font-family: 'Merriweather', serif;
    }
    .NavBar{
        width: 90%;
    }
    .imageCardBOA{
        width: 200px;
        height: 200px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .phrasePageContact{
        margin-left: 50px;
        margin-right: 50px;
    }
  .imageCard{
      width: 250px;
      height: 250px;
      margin-left: 50px;
      margin-right: 50px;
  }
  .texteCards{
      padding-top: 40px;
  }
}

@media screen and (max-width: 768px) {
    .Information{
        width: 80%;
    }
    .paperAdminMembre{
       width: 100%;
    }
    .tableauAdminMembre{
        width: 100%;
    }
    .imagePresentation{
        padding-top: 10px;
        width:200px;
        border-radius: 50%;
    }
    .textePaperPresentation{
        font-size: 11px;
        height: 300px;
    }
    .Bloc1{
        border-adius:20px;
        height:300px;
        width: 200px;
    }
    .navbar-toggler{
        margin-left: -550px;
    }
    .navbar-collapse{
        background-color: #a2415e;
        width: 100%;
        border-radius: 10px;
        padding: 10px;
    }
    .imageCardBOA{
        width: 200px;
        height: 200px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .phrasePageContact{
        margin-left: 50px;
        margin-right: 50px;
    }
    .imageCard{
        width: 200px;
        height: 200px;
        margin-left: 150px;
    }
    .texteCards{
        padding-top: 30px;
    }
    .commentaireCard{
        color:gray;
        text-align:center;
        font-weight:bold;
        margin-top:20px;
        margin-left: 150px;
        margin-right: 150px;
    }
    .imageCardTroisImages{
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }
}

@media screen and (max-width: 425px) {
    .BlocInformationLien{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .Information{
        width: 100%;
    }

    .navbar-toggler{
        margin-left: -250px;
    }

    .logoTop{
        width: 100px;
        height:100px;
    }
    .imagePresentation{
        width: 100px;
    }
    .Separateur1{
        width: 200px;
        height: 100px;
    }
    .textePaperPresentation{
        font-size: 10px;
        padding-top: 0;
    }
    .phraseBlocPres{
        font-size: 15px;
    }
    .BlocInformationActu{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .Footer{
        background-color: #a2415e;
        color:black;
        height: 500px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .centerOfFooter{
        align-items: center;
    }
}

@media screen and (max-width: 375px) {
    .navbar-toggler{
        margin-left: -200px;
    }
    .BlocInformationLien{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .Information{
        width: 100%;
    }

    .logoTop{
        width: 100px;
        height:100px;
    }
    .imagePresentation{
        width: 100px;
    }
    .Separateur1{
        width: 200px;
        height: 100px;
    }
    .textePaperPresentation{
        font-size: 9px;
        padding-top: 0;
    }
    .phraseBlocPres{
        font-size: 15px;
    }
    .BlocInformationActu{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .Footer{
        background-color: #a2415e;
        color:black;
        height: 500px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .centerOfFooter{
        align-items: center;
    }
}

@media screen and (max-width: 320px) {
    .navbar-toggler{
        margin-left: -180px;
    }
    .BlocInformationLien{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .Information{
        width: 100%;
    }

    .logoTop{
        width: 100px;
        height:100px;
    }
    .imagePresentation{
        width: 100px;
    }
    .Separateur1{
        width: 200px;
        height: 100px;
    }
    .textePaperPresentation{
        font-size: 6.5px;
        padding-top: 0;
    }
    .phraseBlocPres{
        font-size: 15px;
    }
    .BlocInformationActu{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .Footer{
        background-color: #a2415e;
        color:black;
        height: 500px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .centerOfFooter{
        align-items: center;
    }
}
